* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

body * {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
}

body {
    background: var(--body-bg-color);
}

main {
    display: flex;
}

main section {
    border-radius: 20px;
    background: var(--bg-cards);
    margin-bottom: 30px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 25%);
}

#personal-info {
    width: auto;
    padding: 40px 30px 0 40px;
}

#personal-info section {
    width: 350px;
}

#profile {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile img {
    width: 128px;
    border: 2px solid #00FF00;
    border-radius: 50%;
}

#profile h1 {
    margin: 30px 0 0;
    font-size: 23px;
    font-weight: 700;
}

#profile p {
    margin: 10px 0 18px 0;
    font-weight: 400;
    font-size: 13px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    align-items: start;
}

.list li figure, .list li a {
    display: flex;
    justify-content: start;
}

#links {
    padding: 32px;
}

#links ul {
    list-style: none;
    gap: 4px;
}

#links ul li {
    padding: 8px;
}

#links ul li a, #links ul li {
    border-radius: 10px;
    transition: background 0.2s;
    width: 100%;
}

#links ul li:hover {
    background: #191921;
    border-radius: 10px;
    -webkit-text-fill-color: white;
    -webkit-backdrop-filter: blur(4px);
}

#links li figure img, #links li figure a img {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
}

#links li figure figcaption, #links li figure a figcaption {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 13px;
    justify-content: center;
} 

#technologies, #experiences, #educational-bg {
    padding: 32px 16px 32px 20px;
}

#technologies h2, #experiences h2, #educational-bg h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

#technologies {
    height: 208px;
}

#technologies ul {
    gap: 15px;
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75%;
    width: 98%;
    overflow: scroll;
    scrollbar-color: #3EB489 var(--body-bg-color);
    /*top right bottom left*/
    margin: 0 5px 0 12px;
    padding-bottom: 5px;
    list-style: none;
}

#technologies ul li {
    background: var(--bg-techs);
    width: 86px;
    height: 24px;
    border-radius: 30px;
    padding: 6px 0;
    font-size: 10px;
    font-weight: 700;
    color: black;
    text-align: center;
    justify-content: center;
    transition: box-shadow 0.2s;
}

#technologies ul li:hover {
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 25%);
    -webkit-backdrop-filter: blur(4px);
}

#experiences ol, #educational-bg ol {
    margin-left: 40px;
    list-style: inside;
    list-style-position: outside;
    gap: 20px;
    text-align: justify;
    width: 80%;
}

.instituto-empresa {
    font-weight: 700;
    font-size: 14px;
}

.periodo {
    font-weight: 400;
    font-size: 12px;
}

.curso-cargo {
    font-weight: 500;
    font-size: 12px;
}

#portfolio {
    width: 100%;
    padding: 40px 40px 0 30px; 
}

#portfolio article{
    width: 100%;
}

.title-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    padding: 30px;
}

.title-card h2 {
    font-weight: 700;
    font-size: 20px;
}

#my-projects span{
    font-weight: 400;
    font-size: 14px;
}

#projects-cards {
    background: none;
    box-shadow: none;
}

#projects {
    list-style-position: inside;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    flex-wrap: wrap;
    overflow: visible;
    gap: 30px;
}

#projects li {
    display: flex;
    flex-direction: column;
    background: var(--bg-cards);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 25%);
}

#projects li * {
    align-items: center;
}

#title-project figure {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
}

#project-description {
    font-weight: 500;
    font-size: 14px;
}

#data-project {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
}

#stargazers-forks {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

#stargazers-forks figure {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects {
        grid-template-columns: auto;
    }

}