* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

body * {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
}

body {
    background: var(--body-bg-color);
}

main {
    display: flex;
}

main section {
    border-radius: 20px;
    background: var(--bg-cards);
    margin-bottom: 30px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 25%);
}

#personal-info {
    width: auto;
    padding: 40px 30px 40px 40px;
}

#personal-info section {
    width: 350px;
}

#profile {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile img {
    width: 128px;
    border: 2px solid #00FF00;
    border-radius: 50%;
}

#profile h1 {
    margin: 30px 0 0;
    font-size: 23px;
    font-weight: 700;
}

#profile p {
    margin: 10px 0 18px 0;
    font-weight: 400;
    font-size: 13px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    align-items: start;
}

.list li figure, .list li a {
    display: flex;
    justify-content: start;
}

#links {
    padding: 32px;
}

#links ul {
    list-style: none;
    gap: 4px;
}

#links ul li {
    padding: 8px;
}

#links ul li a, #links ul li {
    border-radius: 10px;
    transition: background 0.2s;
    width: 100%;
}

#links ul li:hover {
    background: #191921;
    border-radius: 10px;
    -webkit-text-fill-color: whitesmoke;
    -webkit-backdrop-filter: blur(4px);
}

#links li figure img, #links li figure a img {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
}

#links li figure figcaption, #links li figure a figcaption {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 13px;
    justify-content: center;
} 

#technologies, #experiences, #educational-bg {
    padding: 32px 16px 32px 20px;
}

#technologies h2, #experiences h2, #educational-bg h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

#technologies {
    height: 208px;
    overflow: visible;
}

#technologies ul {
    height: 120px;
    overflow: scroll;
    gap: 15px;
    display: grid;
	grid-template-columns: repeat(3, minmax(86px, 1fr));
    scrollbar-color: #3EB489 var(--body-bg-color);
    /*top right bottom left*/
    padding: 8px;
    list-style: none;
}

#technologies ul li {
    background: var(--bg-techs);
    height: 24px;
    border-radius: 30px;
    padding: 6px 0px;
    font-size: 10px;
    font-weight: 700;
    color: black;
    text-align: center;
    justify-content: center;
    transition: box-shadow 0.2s;
}

#technologies ul li:hover {
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 25%);
    -webkit-backdrop-filter: blur(4px);
}

#experiences ol, #educational-bg ol {
    margin-left: 40px;
    list-style: inside;
    list-style-position: outside;
    gap: 20px;
    text-align: justify;
    width: 80%;
}

#educational-bg {
    margin-bottom: 0px;
}

.instituto-empresa {
    font-weight: 700;
    font-size: 14px;
}

.periodo {
    font-weight: 400;
    font-size: 12px;
}

.curso-cargo {
    font-weight: 500;
    font-size: 12px;
}

#portfolio {
    width: 100%;
    padding: 40px 40px 40px 30px; 
}

#portfolio article{
    width: 100%;
}

.title-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    padding: 30px;
}

.title-card h2 {
    font-weight: 700;
    font-size: 20px;
}

.title-card a {
    transition: all 0.1s;
    border-radius: 10px;
    padding: 12px;
}

.title-card a:hover {
    background: #191921;
    border-radius: 10px;
    font-weight: 700;
}

#my-projects span{
    font-weight: 400;
    font-size: 14px;
}

#projects-cards {
    background: none;
    box-shadow: none;
}

#projects {
    list-style-position: inside;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    flex-wrap: wrap;
    gap: 30px;
}

#projects li {
    display: flex;
    flex-direction: column;
    background: var(--bg-cards);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 25%);
    transition: all 0.1s;
}

#projects li * {
    align-items: center;
}

#projects li:hover {
    outline: 2px solid var(--bg-techs);
    box-shadow: none;
}

#title-project figure {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
}

#project-description {
    font-weight: 500;
    font-size: 14px;
}

#data-project {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
}

#stargazers-forks {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

#stargazers-forks figure {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#most-used-language {
    font-weight: 500;
    font-size: 14px;
}

#posts {
    list-style: none;
}

#posts li a {
    display: flex;
    gap: 20px;
    padding: 30px 30px 40px;
    border-radius: 20px;
}

#posts li a:hover {
    outline: 2px solid var(--bg-techs);
    box-shadow: none;
}

#user-pic img {
    border-radius: 50%;
    width: 128px;
}

#post-content {
    display: flex;
    flex-direction: column;
}

#post-content h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

#data {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 30px;
}

#description {
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 20px;
}

#tags {
    display: flex;
    gap: 25px;
}

#tags li {
    font-weight: 500;
    font-size: 14px;
    padding: 0px;   
}

#tags li:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 40px;
}

@media screen and (min-width: 768px) and (max-width: 968px) {
    #personal-info {
        padding: 30px 30px 30px 30px;
    }

    #personal-info section {
        width: 100%;
    }

    #portfolio {
        padding: 30px 30px 0px 0px;
    }
}

@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }
    
    #personal-info {
        display: flex;
        flex-wrap: wrap;
    }

    #profile, #links {
        width: 50% !important;
    }

    #profile {
        border-end-end-radius: 0px !important;
        border-start-end-radius: 0px !important;
        justify-content: center;
    }

    #links {
        border-start-start-radius: 0px !important;
        border-end-start-radius: 0px;
    }

    #technologies h2, #experiences h2, #educational-bg h2 {
        text-align: center;
    }

    #technologies {
        margin-left: auto;
        margin-right: auto;
        width: 50vw !important;
    }

    #technologies ul {
        justify-content: center;
    }

    #experiences, #educational-bg {
        width: 48% !important;
    }

    #experiences {
        margin-bottom: 0px;
        margin-right: auto;
    }

    #portfolio {
        padding: 30px;
    }
}

@media screen and (max-width: 668px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #personal-info {
        padding: 30px;
    }

    #profile {
        margin-bottom: 0px !important;
        border-end-start-radius: 0px;
        border-start-end-radius: 20px !important;
        width: 100% !important;
    }

    #links {
        padding-top: 0px;
        border-start-end-radius: 0px;
        border-end-start-radius: 20px;
        width: 100% !important;
    }

    #links nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #technologies {
        width: 100% !important;
    }

    #experiences {
        margin-bottom: 30px;
    }

    #experiences, #educational-bg {
        width: 100% !important;
    }

    #portfolio {
        padding: 30px;
    }

}

@media screen and (max-width: 468px) {
    #posts li a {
        display: flex;
        flex-direction: column;
    }

    #user-pic {
        margin: 0 auto;
    }

    #technologies ul {
        grid-template-columns: 1fr 1fr; 
    }

    #projects {
        grid-template-columns: auto;
    }

}