* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

body * {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
}

body {
    background: var(--body-bg-color);
}

main {
    border: 1px solid white;
    display: flex;
}

main section {
    border-radius: 20px;
    background: var(--bg-cards);
    margin-bottom: 30px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 25%);
}

#personal-info {
    width: auto;
    padding: 40px 30px 0 40px;
}

#personal-info section {
    width: 350px;
}

#profile {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile img {
    width: 128px;
    border: 2px solid #00FF00;
    border-radius: 50%;
}

#profile h1 {
    margin: 30px 0 0;
    font-size: 23px;
    font-weight: 700;
}

#profile p {
    margin: 10px 0 18px 0;
    font-weight: 400;
    font-size: 13px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    list-style-position: inside;
    align-items: start;
}

.list li figure, .list li a {
    display: flex;
    justify-content: center;
}

#links {
    padding: 32px;
}

#links ul {
    gap: 22px;
}

#links li figure img, #links li figure a img {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
}

#links li figure figcaption, #links li figure a figcaption {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 13px;
    justify-content: center;
} 

#technologies {
    padding: 32px;
}

#experiences {
    padding: 32px;
}

#education {
    padding: 32px;
}

#portfolio {
    width: auto;
    padding: 40px 40px 0 30px; 
}